@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-lucia-red: #490101;
  --color-lucia-darkred: #170000;
  --color-lucia-brightred: #920000;
  --color-lucia-brighterred: #af0000;

  --font-caudex: "Caudex", serif;
}

body {
  overflow-y: scroll; /* Show scrollbars */
}